* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', sans-serif;
}

*:not(input) {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

*:focus {
    outline: none;
}

body {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

body::after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: rgba(0, 0, 0, 0.5);
    background-image: url(images/tinkerbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    z-index: -1;
}

.menubar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.menubar p {
    margin-left: 10px;
    font-size: 12px;
    color: #b3b3b3;
}

.menubar .btns {
    display: flex;
}

.menubar button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 0;
    border: none;
    background: none;
    padding: 12px 12px;
    color: #b3b3b3;
    -webkit-app-region: no-drag;
}

.menubar button:not(.close):hover {
    background: rgba(255, 255, 255, 0.1);
}

.menubar .hide i {
    transform: translateY(2px);
}

.menubar .close:hover {
    background: #ff0000;
    color: #fff;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100%;
    padding: 85px 0 15px;
    border-radius: 2px;
    overflow: hidden;
}

table {
    border-collapse: separate;
    border-spacing: 5px 13px;
}

.display-label {
    position: relative;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto 5px;
    width: 415px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #da7728;
    font-size: 50px;
    color: #ff0000;
    text-shadow: 1px 1px 1px #3b0000;
    box-shadow: 3px 3px 7px #da7728;
    overflow: hidden;
}

.display-label:focus {
    outline: none;
}

.result-preview {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 24px;
    color: #ff0000;
    transform: translateY(-100%);
}

.btn {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 2px;
    border: 1px solid #da7728;
    box-shadow: 3px 3px 10px #da7728;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.1s ease, border-radius 0.3s ease;
}

.btn.disabled {
    filter: grayscale(1);
}

.btn:not(.disabled):hover {
    border-radius: 15px;
}

.btn:not(.disabled):active {
    background: #000;
}

.btn p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 0, 0);
    font-size: 54px;
    text-shadow: 2px 3px 2px #3b0000, -1px -1px 2px #3b0000;
    z-index: 1;
}

.btn i {
    font-size: 40px;
}

.btn img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(-50%);
    transition: transform 0.5s ease;
}

.btn:not(.disabled):hover img {
    opacity: 0.9;
    transform: translateY(-50%) scale(1.1);
}

.laser-btn {
    background: url(images/Laser.png);
}

.heat-btn {
    background: url(images/Heat.png);
}

.march-btn {
    background: url(images/March.png);
}

.rearm-btn {
    background: url(images/Rearm.png);
}
